.container {
    width: 40%;
    margin: 10 0px auto;
}

.carousel {
    border: 2px solid #ccc;
    height: 400px;
    position: relative;
    
}
.slider {
    height: 100%;
    display: flex;
    width: 400%;
    border: 1px solid red;
    transform: translate(-25%);
}

.slider section {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
}
.arrow.left {
    left: 10px;
}
.arrow.right {
    right: 10px;
}