.container {
    width: 80%;
    margin: 20px auto;
}

.carousel {
    border: 2px solid #ccc;
    height: 400px;
    position: relative;
    overflow: hidden;
    
}
.slider {
    height: 100%;
    display: flex;
    width: 400%;
    border: 1px solid red;
    transition: transform 0.5s ease-in-out;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
}
.arrow.left {
    left: 10px;
}
.arrow.right {
    right: 10px;
}

.arrow {
    font-size: 30px;
    transform: translateY(-50%);
}
.controls ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 0;
    margin: 0;
}

.controls ul li {
    width: 20px;
    height: 20px;
    list-style: none;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px 10px;
    background: #333;
}

.controls ul li.selected {
    background: transparent;
}