* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: bisque;
}
.logo {
    align-self: center;
    flex-grow: 0;
    padding: 20px;
}
.logo:hover {
    cursor: pointer;
}
.wrapper {
    padding-right: 40px;
    height: 10vh;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    flex-grow: 1;
    list-style-type: none;
    display: none;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    animation: slideInFromLeft 800ms cubic-bezier(0.12,-0.02, 0, 1.55), fadeIn 500ms ease-in;
}
nav ul li {
    cursor: pointer;
}
nav ul.show {
    display: flex;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(0);
    }
}

.logo i {
    transition: transform 0.3s ease-in-out;
}

.logo i.fa-times {
    transform: rotate(90deg);
}
nav ul.hide {
    animation: slideOutToLeft 1000ms ease-in forwards, fadeOut 500ms ease-in forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80%);
    }
}